<h2>Show Activity</h2>

<ul>

  <li>
    <strong>Activity:</strong>
    <%= @activity.activity %>
  </li>

</ul>

<span><%= link "Edit", to: activity_path(@conn, :edit, @activity) %></span>
<span><%= link "Back", to: activity_path(@conn, :index) %></span>
