<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h2 class="pull-left page-title">New User</h2>
        <ol class="breadcrumb pull-right">
            <li><a href="/">Phoenix Admin</a></li>
            <li><a href="#">User</a></li>
            <li class="active">New User</li>
        </ol>
    </div>
</div>

<%= render "register.html", Map.put(assigns, :action, user_path(@conn, :create)) %>

<span><%= link "Back", to: user_path(@conn, :index) %></span>
